# Discord
DISCORD_BOT_TOKEN=your_discord_bot_token_here
DISCORD_CHANNEL_IDS=123456789012345678, 98756321123123123, 12312312312313123

# Stoat
STOAT_BOT_TOKEN=your_stoat_bot_token_here
STOAT_CHANNEL_IDS=01XXXXXXXXXXXXXXXXXXXXXXXXXX, 02XXXXXXXXXXXXXXXXXXXXXXXXXX, 03XXXXXXXXXXXXXXXXXXXXXXXXXX

# NOTE: Pos. 1 of DISCORD_CHANNEL_IDS will be linked to Pos. 1 of STOAT_CHANNEL_IDS, Pos. 2 of DC to Pos. 2 of Stoat and so on
